<html>
	<body>
		<p> current Dir: /mam/templates/auth.html </p>
		<a href="/search/">HOME</a> | 
		<a href="/searchImage/">ImageSearch</a> | 
		<a href="/searchText/">TextSearch</a> | 
		<a href="/searchMovie/">MovieSearch</a> | 
		<a href="/searchIntegrated/">IntegSearch</a> |
		<!-- if there is no session : LOGIN -->
		{% if not user.username %}
		{{ state }}
		<!-- Login Action -->
		<form action="/login/" method="post" style="float:right;margin:0;">{% csrf_token %}
			username:
			<input type="text" name="username" placeholder="name" value="" size=10 />
			password:
			<input type="password" name="password" placeholder="password"  value="" size=10 />
			<input type="submit" value="Login"/>
			<!-- Register Action -->
			<a href="../register/" target="_blank"><input type="button" value="Join"/></a>
		</form>
		<br>
		<!-- Logged on -->
		{% else %}
		{{ state }}
		<div style="float:right;margin:0;">
			Hello, {{ user.username }} !
		<a href="../logout/"><input type="button" value="Logout"/></a><br>
		</div>
		<br>
		{% endif %}
		{% block content %}
		{% endblock %}
	</body>
</html>
