<!-- header page -->
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <script src="{% static "/site_media/bootstrap/js/bootstrap.js" %}"></script>
        <link rel="stylesheet" href="{% static "/site_media/bootstrap/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "/site_media/css/menuBar.css" %}">
        <link rel="stylesheet" href="{% static "/site_media/css/searchContents.css" %}">
    </head>
    <body>
        <div id="headBar">
            <a href="/"><font size="5em" color="#3c3c3c"><b>MAM</b> 검색서비스</font></a> 
            <!-- if there is no session : LOGIN -->
            {% if not user.username %}
            <!--
            <form action="/login/" method="post" style="float:right;margin:0;">{% csrf_token %}
                username:
                <input type="text" name="username" placeholder="name" value="" size=10 />
                password:
                <input type="password" name="password" placeholder="password"  value="" size=10 />
                <input type="submit" value="Login"/>
                <a href="../register/" target="_blank"><input type="button" value="Join"/></a>
            </form>
            -->
            <!-- Logged on -->
        </div>
            {% else %}
            <div style="float:right;margin:0;">
                안녕하세요, {{ user.username }}님!&nbsp;
                <a href="../logout/"><input type="button" value="로그아웃"/></a><br>
            </div>
        </div>
        {% endif %}
        <div id="searchOptionSection">
            <a href="/searchIntegrated/">
                <div id="searchOption">
                    <div id="textOption">
                        통합검색
                    </div>
                </div>
            </a>
            <a href="/searchImage/">
                <div id="searchOption">
                    <div id="textOption">
                        이미지검색
                    </div>
                </div>
            </a>
            <a href="/searchText/">
                <div id="searchOption">
                    <div id="textOption">
                        텍스트검색
                    </div>
                </div>
            </a>
            <a href="/searchMovie/">
                <div id="searchOption">
                    <div id="textOption">
                        동영상검색
                    </div>
                </div>
            </a>
        </div>
        <div id="contentSection">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
